# Class 2

## Create Database

In [1]:
CREATE DATABASE db_mydatabase;

## Create Table

In [2]:
-- make sure you have selected correct db before executing this command
-- or use 'USE db_mydatabase;' command to execute command in specific database
CREATE TABLE tbl(
    id INT NOT NULL,
    name VARCHAR(20) NULL
);

## Insert Data in Table

In [3]:
INSERT INTO tbl VALUES(345, 'ALI');

## Display data from Table

In [4]:
-- show all fields from table
SELECT * FROM tbl;

In [5]:
-- show all id fields from tb1
SELECT id FROM tbl;

## Alter Table and make 'id' Primary Key

In [6]:
-- ALTER TABLE [TableName] ADD CONSTRAINT [name_of_PrimaryKey] PRIMARY KEY(column(s) name);
ALTER TABLE tbl ADD CONSTRAINT pk_id PRIMARY KEY(id);

## Delete all data from Table

In [11]:
TRUNCATE TABLE tbl;

## Delete Table

In [9]:
DROP TABLE tbl;

## Delete Database

In [10]:
-- before dropping database make sure it is not in use
DROP DATABASE db_mydatabase;

## Rename Database

In [7]:
sp_renamedb 'db_mydatabase', 'new_database';

## Rename Table

In [8]:
-- sp_rename 'dbo.oldTableName', 'newTableName';
sp_rename 'dbo.tbl', 'myTable';

## Rename Column

In [9]:
-- sp_rename 'tbl.oldColumn', 'newColumnName';
sp_rename 'myTable.name', 'first_name';